<h1>7 Members:</h1>
<section>
  <% facade.members.each do |member| %>
  <ul class="member">
    <h3 class="name"><%= member.name %></h3>
    <li class="id"> <%= member.id %></li>
  </ul>

  <% end %>
</section>
